html {
	overflow: -moz-scrollbars-vertical;
}

body {
    font-family: Roboto,Arial,sans-serif; /*Verdana, Arial, Helvetica, sans-serif;*/
	font-size: 80%;
	color: #333333;
	background-color: #F1EFED;
	margin: 0px;
	padding-top: 5px;
	line-height: 135%;
}
a:link {
	color: #336699;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #336699;
}
a:hover {
	color: #6699AA;
	text-decoration: underline;
}

p {
	padding-top: 13px;
	margin: 0px;
}
br {
	padding: 0px;
	margin: 0px;
}
textarea, input, select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 90%;
}
pre {
	border: 1px dashed #FB6B00;
	background-color: #D0E0F7;
	padding: 4pt;
	font-family: courier, monospace;
	white-space: pre;
      	white-space: pre-wrap;
      	word-wrap: break-word;
      	white-space: -moz-pre-wrap;
      	white-space: -pre-wrap;
      	white-space: -o-pre-wrap;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	font-size: 180%;
	font-weight: bold;
	margin-bottom: 0px;
	padding: 0px;
	margin-top: 10px;
	color: #111111;
	line-height: 120%;
}
h2 {
	font-size: 140%;
	font-weight: bold;
	margin: 0px;
	padding-top: 2px;
	padding-bottom: 3px;
	color: #01478C;
}
h3 {
	font-size: 125%;
	font-weight: bold;
	margin: 0px;
	padding-top: 9px;
	padding-bottom: 2px;
	color: #113366;
}
h4 {
	font-size: 110%;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 1px;
	color: #113366;
}
h5 {
	font-size: 110%;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0px;
	padding: 0px;
	color: #113366;
}

h6 {
	font-size: 11px;
	font-weight: normal;
}
hr {
	height: 2px;
	clear: both;
	border-top-width: 0;
	border-right-width: 0;
	border-bottom-width: 2px;
	border-left-width: 0;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #0075bd;
}
.hr_clear {
	border-bottom: 2px solid #f1efed;
}
img {
	border: none;
}
ul {
        list-style-type: none;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
ul li {
	margin: 0px;
	padding: 0px;
}
ol {
	padding: 0px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
}
ol li {
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
ul.ul_arrow {
	list-style-type: none;
}
ul.ul_arrow li{
	margin-bottom: 3px;
	padding: 0px;
}
ul.ul_triangle {
	list-style-type: none;
}
ul.ul_triangle li{
	margin-bottom: 10px;
}
ul.ul_ai li{
	margin: 0px;
}
ul.ul_ai {
	list-style-type: none;
}
ul.ul_blank {
	list-style-image: none;
	list-style-type: none;
}
form {
	margin: 0px;
	padding: 0px;
}
.textfield {
	background-color: #FFFFFF;
	padding: 4px;
	border: 1px solid #CCCCCC;
}
.form_button {
	color: #FFFFFF;
	background-color: #666666;
	border: 1px solid #CCCCCC;
	padding-top: 3px;
	padding-right: 7px;
	padding-bottom: 3px;
	padding-left: 7px;
}
strong {
	color:#666666;
}
a strong{
	color: #FF6600;
}
#main_wrap {
	width: 760px;
	margin-right: auto;
	margin-left: auto;
}
#header_wrap {
	height: 52px;
}
#header_wrap .logo {
	float: right;
	padding-top: 12px;
	padding-right: 11px;
}
#body_wrap {
	width: 760px;
	background-image: url(./images/body-middle.png);
	background-repeat: repeat-y;	
}
#body_wrap .top_wrap{
	padding-top: 11px;
	padding-left: 12px;
	background-image: url(./images/body-top.png);
	background-repeat: no-repeat;	
}
#body_wrap .content_wrap{
	padding-right: 19px;
	padding-left: 19px;
}
#body_wrap .bottom{
	background-image: url(./images/body-bottom.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	height: 12px;
	clear: both;
	padding-bottom: 0px;
}
.left_col {
	float: left;
	width: 134px;
	margin-right: 20px;
	padding-top: 10px;
}
.right_col {
	width: 568px;
	float: right;
	padding-top: 10px;
}
#top_nav {
	width: 727px;
	background-color: #CCCCCC;
	padding: 5px;
	height: 13px;
}
#top_nav ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 105%;
	font-weight: bold;
}
#top_nav li {
	display: inline;
	list-style-image: none;
	list-style-type: none;
	background-image: none;
	margin-left: 12px;
}
#top_nav li a:link{
	color: #222222; 
	text-decoration: none;
	padding-bottom: 2px; 
}
#top_nav li  a:visited {
	color: #222222; 
	text-decoration: none;
	padding-bottom: 2px;
}
#top_nav li a:hover {
	color: #222222;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #222222;
}
#top_nav_bottom {
	width: 737px;
	height: 12px;
}
#footer {
	color:#999999;
	font-size: 95%;
	margin-left: 5px;
	margin-right: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
#footer .copyright {
	float:left;
}
#footer a{
	color:#666666;
	text-decoration: none;
}
#footer a:visited{
	color:#666666;
	text-decoration: none;
}
#footer a:hover{
	text-decoration: underline;
}
#footer .valid_css {
	float:right;
}
.peopledetail {
	border:1px solid #bbb;
	background:#f9f9f9;
	padding:20px;
}
.break {
	margin-top: 10px;
}
.img_floatleft {
	float: left;
	margin-right: 5px;
	margin-top: 5px;
}
.img_floatleft_border {
	float: left;
	margin-right: 5px;
	margin-top: 5px;
	border: 2px solid #FFFFFF;
}
.img_white_border {
	border: 2px solid #FFFFFF;
}
.img_border {
	padding: 4px;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
}
.img_border_left_float {
	padding: 4px;
	float: left;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	margin-bottom: 5px;
	margin-right: 10px;
}
.img_grey_border {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
}
ul {
	padding: 0px;
	margin-top: 2px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}
ul li {
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}
.sidenav {
	margin-top: 2px;
	margin-bottom: 15px;
	font-size: 90%
}
.sidenav ul {
	margin-left: 2px;
	padding: 0px;
	margin-bottom: 0px;
}
.sidenav ul ul {
	margin-left: 8px;
}
.sidenav ul li {
	margin: 0px;
	padding: 0px;
	line-height: 220%;
	list-style-type: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
.sidenav ul li a {
	display: block;
	padding-left: 12px;
	width: 120px;
	color: #0c253c;
	text-decoration: none;
	background-repeat: no-repeat;
	background-position: left center;
}
.sidenav ul li a:hover {
	background: #ffffff; 
	color: #113366;
	background-repeat: no-repeat;
	background-position: left center;
}
.sidenav ul ul li a {
}
.sidenav ul ul li a:hover {
}
.list_item {
	width: 152px;
	float:left;
	margin-left: 13px;
	margin-right: 13px;
	margin-bottom: 15px;
	margin-top: 2px;
	text-align: center;
}
.txt_sm {
	font-size: 85%;
}
.txt_sm_grey {
	font-size: 85%;
	color: #999999;
}
.landing_list {
	width: 255px;
	float: left;
	padding: 10px;
}
.col_half {
	width: 255px;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}
.landing_img_float {
	padding: 4px;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	float: left;
	margin-right: 10px;
}
.landing_img_float2 {
	padding: 4px;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	float: left;
	margin-right: 5px;
	margin-top: 10px;
}
.col2a-1 {
	float: left;
	width: 235px;
	margin-right: 15px;
	padding-bottom: 5px;
}
.col2a-2 {
	float: right;
	width: 300px;
	padding-bottom: 5px;
}
.pagenav {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #cccccc;
	margin-top: 10px;
	clear: both;
	text-align: right;
	font-size: 110%;
	color: #666666;
}
.pagenav a{
	font-weight: bold;
}
.tutorial_feat {
	margin-top: 15px;
	margin-bottom: 5px;
}
.tutorial_feat a{
	font-weight: bold;
	margin-left: 15px;
}
.ul_heading {
	font-size: 110%;
	font-weight: bold;
	text-transform: uppercase;
	color: #990000;
	font-family: Arial, Helvetica, sans-serif;
}
.news_wrap {
	width: 378px;
	clear: both;
}
.date_container {
	width: 30px;
	float: left;
}
.day {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: right;
	color: #666666;
	padding-top: 5px;
}
.month {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: right;
	color: #999999;
}
.feat_news {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: right;
	font-weight: bold;
	color: #999999;
}
.news_content {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
	width: 330px;
	float:right;
	border-left-style: solid;
	padding-left: 10px;
	padding-bottom: 2px;
	margin-bottom: 15px;
}
.news_h1 {
	padding-bottom: 3px;
	margin: 0px;
}
.view_news_archive {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #cccccc;
	clear: both;
	text-align: right;
}
.grey {
	color:#666666;
}
.black {
	color:#000000;
}
.sitemap_col {
	width: 220px;
	padding-left: 20px;
	padding-top: 20px;
	float: left;
}
.left_float {
	float:left;
}
.right_float {
	float:right;
}
.footer_ad {
	width: 468px;
	float:left;
}
.search {
	font-size: 10px;
}
.search form{
	margin: 0px;
	padding: 0px;
}
.search table, td, tr{
	padding: 0px;
	margin: 0px;
}
.search input{
	border: none;
}
